
/* Responsive Web Design - grid style*/
* {
    box-sizing: border-box;
}

/* for desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* colours
asideColor: #FD7014;
mainColor: #393E46;
bodyColor: #222831;
tableBackground: #EEEEEE;
*/

/* else */
body {
    text-align: center;
    background-color: #222831;
    font-family: Helvetica, sans-serif;
}

h1, h2, h4 {
    color: #FFFFFF;
    margin: 10px;
}
hr {
    color: #FFFFFF;
}

table {
    background-color: #EEEEEE;
    width: 100%;
    border-collapse: collapse;
}
th {
    border-bottom: 1px solid #999999;
}
td {
    padding: 5px 0px;
}
td:nth-child(1), td:nth-child(2), td:nth-child(3),
td:nth-child(4), td:nth-child(5), td:nth-child(6){
    border-right: 1px solid #999999;
    min-width: 25px;
    padding: 0px 5px;
}
td:nth-child(4){
    text-align: left;
}

/* main window */
main {
    background-color: #393E46;
}

/* left and right panels */
aside{
    background-color: #FD7014;
}
#leftPanel {
    padding: 10px 0px;
}

/* left panel internals */
.leftButton {
    font-weight: bold;
    background-color: #ffa060;
    width: 100%;
    padding: 10px 0px;
    border: none;
}
.leftButton:hover{
    background-color: #ff8f44;
}
.sticky{
    top: 0rem;
    position: sticky;
}

/* add new data window */
.newDataInput {
    width: 15rem;
    min-width: 5rem;
    padding: 5px;
    margin: 2px 0px;
    -moz-appearance: textfield;
    text-align: center;
}

/* login window */
.loginout {
    width: 8rem;
    margin: 3px;
    padding: 3px;
    border: none;
    text-align: center;
    border-radius: 3px;
}

#wrongPass {
    color: #FD7014;
}

